#chalishma{
    width: 100%;
    padding-bottom: 120px;

    .chalishma-wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-titil{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            width: 710px;
            padding-bottom: 56px;

            p:nth-child(1){
                color: #000;
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;

                span{
                    color: #165DF5;
                }
            }

            h2{
                color: #000;
                font-family: Poppins;
                font-size: 32px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }

            p:nth-child(3){
                color: rgba(0, 0, 0, 0.60);
                text-align: center;
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
            }
        }

        &-content{
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 83px;

            &-card{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10px;

                span{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 16px 22px;
                    border-radius: 8px;
                    border: 0.5px solid rgba(48, 186, 14, 0.40);
                    background: rgba(48, 186, 14, 0.20);
                    margin-bottom: 10px;

                    i{
                        font-size: 32px;
                        color: rgba(48, 186, 14, 1);
                    }
                }

                h3{
                    color: #000;
                    text-align: center;
                    font-family: Poppins;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 26px;
                }

                p{
                    color: rgba(0, 0, 0, 0.60);
                    text-align: center;
                    font-family: Poppins;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 24px;
                }
            }

            .chalishma-wrap-content-card:nth-child(2){
                span{
                    border: 0.5px solid rgba(22, 93, 245, 0.40);
                    background: rgba(22, 93, 245, 0.60);

                    i{
                        color: rgba(22, 93, 245, 1);
                    }
                }
            }

            .chalishma-wrap-content-card:nth-child(3){
                span{
                    border: 0.5px solid rgba(141, 14, 186, 0.40);
                    background: rgba(141, 14, 186, 0.20);

                    i{
                        color: rgba(141, 14, 186, 1);
                    }
                }
            }
        } 
    }
}